/* Empty. Add your own CSS if you like */
.center{
	text-align: center;
}
.card i{
	font-size: 5em;
}
.list {
   margin-bottom: 0px;
}
.item {
 
    border-bottom: none;
}
.my-pic{
	width:100px;
	height: 100px;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	overflow: hidden;
	margin: auto;
}
.title{
	font-size: 25px;
}

.banner{
	background: url(../img/banner.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.branding{
	margin: 0 auto;
	width:50%;
	padding-top: 50%;
	max-width:200px;
	text-align: center;
	color: #fff;


}
.branding img{
	margin-bottom: 10px;

}

.home-button{
	margin: 0 auto;
	width:50%;
	max-width:200px;
	padding-top: 10px;
}
